
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/*shared style */
.text-center{
  text-align: center;
}
.section-btn{
  font-size: 20px;
font-weight: 600;
padding: 12px 20px ;
}
/* header section style */
.header{
  margin-bottom:75px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:38px 150px  ;
}
.nav-title{
  font-size: 28px;
  font-weight: 800;
}
.nav-btn{
  padding: 17px 24px;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #0D1321;
  border-radius: 5px;
  background-color: white;
}
.banner{
  background-image: url(../assets/Hero-bg.png);
}
.banner-img{
  padding-top: 30px;
 display: flex;
 justify-content: center;
}

.banner-title{
padding-left: 221px;
padding-right: 221px;
font-size: 48px;
font-weight: 800;
margin-bottom:24px ;
}
.banner-contant{
  /* width: 850px;
  height: 52px; */
  padding-left:295px ;
  padding-right: 295px;
  

}

.banner-btn{
  background-color: #0D1321;
  color: #FFFFFF;
  padding: 21px 24px ;
  border-radius: 8px;
  font-size:20px ;
  font-weight: 600;
  margin-top: 32px;
  margin-bottom: 45px;
}
/* main section style start */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.web-development-container{
  padding: 80px 97px ;
  margin-top:75px ;
  margin-bottom: 90px;

background: rgba(13, 19, 33, 0.02);
}
.web-title{
  font-size: 32px;
  font-weight: 800px;

}
.web-description{
  padding-left: 47px;
  padding-right: 47px;
  margin-bottom: 48px;
}
.the-world{
  display: flex;
  justify-content: space-between;
  gap:100px ;
  /* border: 1px solid; */
  padding: 48px;
  background-color: #FFFFFF;
  margin-bottom:32px ;
}
.the-world-title{
  Font-weight:700;
Font-size:24px;
}
.the-world-description{
 margin-top: 16px;
 margin-bottom: 32px;
}
.modern-web-system{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  /* border: 1px solid; */
  padding: 48px;
  background-color: #FFFFFF;
  margin-bottom: 32px;
}
.web-system-title{
  Font-weight:700;
Font-size:24px;
}
.web-system-description{

  margin-top: 16px;
  margin-bottom: 32px;
}
/*inspiration section style */
.Inspiration-title{
  margin-left:144px ;
  margin-right: 144px;
  font-size: 32px;
font-weight: 800;
}
.Inspiration-description{
  margin: 24px 144px 48px 144px;

}
.video{
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
/* width: 1140px;
height: 614px; */
margin: 48px 0px;
  

}
 iframe{
  
  border-radius: 16px;
  width: 1076px;
height: 550px;  
padding: 32px;
background: rgba(13, 19, 33, 0.02);
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);


}
/* target section start  */
.target{
margin:0 auto ;
}
.target-title{
  font-size: 32px;
  font-weight: 800;
}
.target-description{
  color: rgb(13, 19, 33);
  width: 850px;
  /* text-align: center; */
  margin:30px auto;
  
  /* padding:24px 144px 48px 144px; */
}
.target-link{
  font-size: 16px;
 font-weight: 700;
 color: black;
}
.My-current-target{
/* display: flex; */
}
.my-current-target-container{
  display: flex;
  gap: 24px;
}
.target-title{
  font-size: 24px;
font-weight: 800;
}
.html{
  padding: 40px;
  border-radius: 16px;
background: rgba(255, 76, 30, 0.05); 

}
.css{
  padding: 40px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.javascript{
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.my-next-target{
  margin-top: 110px;
  margin-bottom: 50px;
}
.react,.node,.mongo{
  width: 1140px;
  height: 219px;
  display: flex;
  padding: 40px; 
  margin: 24px;
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
gap: 24px;
background: rgb(255, 255, 255);
}
.support{
margin: auto;

}

.support-items{
  width: 1140px;
  height: 314px;
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size:100% 100%;
  border-radius: 16px;
  /* background-attachment: fixed; */
  /* margin: 0 auto; */
  /* margin-left:150px; */
  margin-right:150px;
  /* margin-top:152px; */
  margin-bottom:80px;
  padding: 64px 48px 64px 48px;
  /* padding: 64px 48px 64px 48px; */
 
}


.support-title{
  font-size:32px;
font-weight: 700;
color: rgb(255, 255, 255);
}
.support-description{
  color: rgb(255, 255, 255);
  margin-left: 62px;
  margin-right: 62px;
  margin-bottom: 24px;
}
.support-items input{
  padding: 19px 20px 19px 20px;
border-radius: 8px;
width: 448px;
height:25px;
border: none;
margin-right: 16px;
}
.support-items button{
  padding: 17px 20px 17px 20px;
  width: 120px;
  height:60px;
  font-size: 20px;
font-weight: 600;
}





footer{
  margin: 0;
  height: 100px;
}
.footer-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:32px 150px;
  /* height: 100px; */
  /* border-radius: 16px; */
margin: 0px;
background: rgba(13, 19, 33, 0.03);
}
